/*Style for Overall*/
html {text-align: center;
color: rgb(61,110,170);
font-family: 'Bebas Neue', sans-serif;
font-size: 20px;
background-image: url(/Cover-Picture.jpg);
background-size: 100%;
background-repeat: no-repeat;}

/*Display Picture*/
#display-picture img {border-radius: 50%;}

/*Achievements*/
#skills {text-align: start;
padding: 100px;}
